---
import Layout from '../layouts/MainLayout.astro';
import RepoManager from '../components/RepoManager.astro';
---

<Layout title="Manage Repository">
  <main class="page-container">
    <RepoManager/>
  </main>
</Layout>

<style>
  .page-container {
    padding: 1rem;
    height: calc(100vh - 4rem);
    display: flex;
    flex-direction: column;
  }
</style>
