---
import Layout from "../layouts/MainLayout.astro";
import RepositoryTable from "../components/RepositoryTable.astro";
---

<Layout title="Repository Table">
  <main class="table-page-container">
    <div class="table-wrapper">
      <RepositoryTable />
    </div>
  </main>
</Layout>
<style>
  .table-page-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
  }
  .table-wrapper {
    flex-grow: 1;
    position: relative; /* 为内部绝对定位的 DataTables 元素提供参考 */
    min-height: 0;
  }
</style>