---
import RepoTabs from "./RepoTabs.astro";
import RepoCards from "./RepoCards.astro";
---

<div class="card-view-layout">
  <div class="tabs-container">
    <RepoTabs />
  </div>
  <div class="cards-wrapper">
    <RepoCards />
  </div>
</div>
